<header id="header" class="container-fluid">
  <!-- <canvas id="plexus"></canvas> -->
  <div id="header-container" class="container">
    <div class="row justify-content-left align-items-center">
      <div id="header-col" class="col-10">
        <a id="logo" href="http://127.0.0.1:8000">Brain Donkey</a>
        <p id="logo-message">
          ...
        </p>
      </div>
      <div id="menu-container" class="col-2">
        <a id="menu-btn" href="javascript:;"><i class="material-icons icon">menu</i></a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="subnav-container" class="container">
      <ul class="row justify-content-left align-items-center text-center" id="navlist">
        <li>
          <a href="http://127.0.0.1:8000">Home</a>
        </li>
        <li>
          <a href="/projects">Experience</a>
        </li>
        <li>
          <a href="/ramblings">Ramblings</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
