html{
  width:100%;
  height:100%;
}

*{
  margin:0em 0em;
  padding:0em 0em;
}

a{
  text-decoration:none;
}

body{
  background:#000;
  margin:0em 0em;
  /*height:100%;*/
}
/*
=================================================
===================  HELPER STYLES  =============
=================================================
*/

/*
=================================================
===================  HEADER  ====================
=================================================
*/
#main-container{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  /*align-items:center; toggle for MOBILE?!?! */
}

#spacer-container{
  order:1;
  height:5.5em;
}

#header-container {
  /*background:rgba(0, 0, 0, 0.6);*/
  order:1;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  background-image:url('images/space-background-full.png');
  background-position:50% 70%;
  background-attachment:fixed;
  background-size:cover;
}

#navigation-container {
  padding:0.75em 0em;

}


#navigation-sitename p span{
  color:#c6480f;
}

.letter-container{
  font-size:2.5em;
  font-weight:bold;
  font-family:'Raleway', tahoma;
  color:#CDCDCD;
  /*border:2px solid rgba(255, 255, 255, 0.035);*/
  background:rgba(255, 255, 255, 0.10);
  /*box-shadow:-1px 1px 0px 3px #666, -2px 2px 0px 3px #666;*/
  /*border-radius:4px;
  margin-left:0.4em;*/
  margin-right:8px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
}

#letter-accent{
  color:#c6480f;
}

#navigation-dropdown {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

#navigation-dropdown a{
  width:1.8em;
  height:1.8em;
  border:2px solid rgba(255, 255, 255, 0.2);
  border-radius:2px;
  transition:border .15s ease-in-out;
}

#navigation-dropdown a:hover{
  border:2px solid #c6480f;
}

#navigation-menu{
  display:none;
}

/*
=================================================
===================  CONTENT  ====================
=================================================
*/
.content-container {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:stretch;
  align-items:center;
  align-content:stretch;

}

.content-section{
  width:90%;
  height:100%;
  padding: 4em 2%;
  /*padding-top:5em;*/
  /*background:rgba(0, 0, 0, 0.4);*/
  /*background:none;*/
  flex:1;
}

#content-1{
  order:2;
}

#content-2{
  order:3;
  background-image:url('images/spacey2.jpg');
  background-position:50% 50%;
  background-attachment:fixed;
  background-size:cover;
}

#content-3{
  order:4;
  background-image:url('images/spacey3.jpg');
  background-position:50% 50%;
  background-attachment:fixed;
  background-size:cover;
}

#content-4{
  order:5;
  background-image:url('images/spacey.jpg');
  background-position:50% 50%;
  background-attachment:fixed;
  background-size:cover;
}

#content-5{
  order:6;
  background-image:url('images/spacey4-62.png');
  background-position:50% 50%;
  background-attachment:fixed;
  background-size:cover;
}

#content-6{
  order:7;
  background:rgba(33, 33, 33, 1);
  border-bottom:0.5em solid rgba(21, 21, 21, 1);
  border-top:0.5em solid rgba(21, 21, 21, 1);*/
}

#main-container{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:stretch;
}

#navigation{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0px;
  z-index:100;
}

#header-section{
  width:100%;
  padding:0em;
  /*background:rgba(0, 0, 0, 0.3);*/
}

#social-menu{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  /*margin-left:1em;*/
  /*border-left:2px solid rgba(255, 255, 255, 0.2);
  padding-left:2em;*/
}

.social-link{
  width:3em;
  height:3em;
  border:0.25em solid #151515;
  background:#212121;
  border-radius:3em;
  margin-right:0.5em;
  transition:border-color .15s ease-in-out;
}

.social-link:hover{
  /*border-color:#C6480F;*/
  border-color:#858585;
}

.social-link:hover img{
  opacity:0.8;
}

.social-link div{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.social-link div p{
  font-family:'Raleway', tahoma;
  font-size:1em;
  font-weight:bold;
  color:#CDCDCD;
  position:relative;
  top:-1px;
}

.social-link div img{
  opacity:0.5;
  transition:opacity .15s ease-in-out;
}

/*#navigation-sitename p{
  font-size:3em;
  font-family:'Play';
  letter-spacing:0px;
}*/

#navigation-dropdown{
  display:none;
}

/*#navigation-menu{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}*/

#navigation-menu{
  width:100%;
  padding:0.5em;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  background:rgba(33, 33, 33, 1);
  border-bottom:0.5em solid rgba(21, 21, 21, 1);
  border-top:0.5em solid rgba(21, 21, 21, 1);
  position:relative;
  z-index:11;
}

/*#profile-picture-nav{
  width:5em;
  background:rgba(33,33,33, 1);
  box-shadow:inset 4px 0px 0px 0px rgba(21, 21, 21, 1), inset 0px -4px 0px 0px rgba(21, 21, 21, 1), inset 0px 4px 0px 0px rgba(21, 21, 21, 1);
}*/

#icon-container{
  width:2em;
  height:2em;
  padding:1em;
  background:rgba(33,33,33, 1);
  /*background:#AA00AA;*/
  /*box-shadow:inset -8px 0px 0px 0px rgba(21, 21, 21, 1), inset 0px -8px 0px 0px rgba(21, 21, 21, 1), inset 0px 8px 0px 0px rgba(21, 21, 21, 1);*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  transition:background .15s ease-in-out;
  border-radius:2px;
}

#icon-container:hover .icon-row {
  background:#c6480f;
}

.icon-row{
  width:2em;
  height:0.25em;
  border-radius:2px;
  background:#373737;
  transition:top .15s ease-in-out, transform .15s ease-in-out, opacity .15s ease-in-out, background .15s ease-in-out;
}

#icon-row-1{
  position:relative;
}

#icon-row-2{
  margin:auto 0em;
}

#icon-row-3{
  position:relative;
}

#navigation-title{
  /*height:4em;*/
  padding:0.5em;
  position:relative;
  /*background:rgba(198,72,15,1);*/
  /*border-left:1em solid rgba(25, 25, 25, 1);*/
  /*border-right:1em solid rgba(25, 25, 25, 1);*/
  /*box-shadow:0em 1em 0em 0em rgba(25, 25, 25, 1);*/
  /*box-shadow:;*/
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  background:rgba(21, 21, 21, 1);
}

#navigation-title p{
  padding:0em 0.5em;
  font-family:'Rubik', tahoma;
  font-size:2.75em;
  letter-spacing:0.25px;
  /*border-left:0.12em solid #333333;*/
  /*border-right:0.10em solid #333333;*/
  color:#CDCDCD;
}

#navigation-title span{
  color:#c6480f;
}

#dropdown-menu{
  width:100%;
  padding:0.0em 0em;
  background:rgba(33, 33, 33, 1);
  border-bottom:0.5em solid rgba(21, 21, 21, 1);
  /*box-shadow:inset 0.5em 0px 0px 0px rgba(21, 21, 21, 1), inset -0.5em 0px 0px 0px rgba(21, 21, 21, 1);*/
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  position:relative;
  top:-100px;
  z-index:10;
  opacity:0;
  transition:opacity .15s ease-in-out, top .15s ease-in-out;
}

#navigation-dropdown-menu{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:stretch;
}

.navigation-link{
  padding:0.4em 0.5em;
  font-family:'Rubik', tahoma;
  font-size:1em;
  color:#BCBCBC;
  letter-spacing:-0.5px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  transition:background .1s ease-in-out, color .1s ease-in-out;
}

.navigation-link:hover{
  background:#c6480f;
  color:#DDDDDD;
}


.navigation-link div{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.navigation-link p{
  margin-right:0.5em;
}

.navigation-link img{
  margin-right:0.5em;
  opacity:0.6;
}

.navigation-vertical-seperator{
  background:#151515;
  height:40px;
  width:0.5em;
  /*margin:0em 0.5em;*/
}

#intro-section{
  width:95%;
  padding:8em 2%;
  flex-direction:row;
  justify-content:center;
  align-content:stretch;
  background:rgba(0, 0, 0, 0.3);
}

#profile-picture{
  flex:1;
  margin:4em 0em;
  /*margin-left:10%;*/
  margin-right:1em;
  min-width:16em;
  max-width:16em;
  min-height:16em;
  max-height:16em;
}

#blurb{
  flex:1.25;
  margin:0em 0em;
  margin-top:64px;
  margin-left:16px;
  margin-right:16px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-self:stretch;
  font-size:2.15em;
  font-family: 'Rubik', sans-serif;
  letter-spacing:0px;
  margin-right:64px;
  color:#EFEFEF;
}

#text-small{
  font-size:0.75em;
  margin-bottom:0.25em;
}

#text-large{
  padding:0em 0.28em;
  padding-top:0.2em;
  padding-bottom:0.4em;
  margin-bottom:0.25em;
  /*background:rgba(198,72,15,0.6);*/
  background:rgba(106,96,174,0.85);
  box-shadow:inset 0px -8px 0px 0px rgba(0, 0, 0, 0.2);
  color:#CDCDCD;
  display:flex;
  font-size:1.25em;
  text-align:left;
}

#descriptors-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:stretch;
  font-family:'Rubik', tahoma;
}

#descriptors-container p:first-child{
  margin-right:0.5em;
}

#descriptors-container p:last-child{
  margin-left:0.5em;
}

.descriptor{
  font-size:0.75em;
  letter-spacing:0px;
  text-align:center;
  padding:0.35em 0.4em;
  padding-bottom:16px;
  box-shadow:inset 0px -8px 0px 0px rgba(0, 0, 0, 0.2);
  /*background:rgba(198,72,15,0.6);*/
  background:rgba(106,96,174,0.85);
  color:#CDCDCD;
  flex:1;
}

#about-text{
  flex:2;
  margin:4em;
  margin-right:0em;
  /*margin-right:10%;*/
  margin-left:16px;
  align-self:stretch;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:stretch;
  background:rgba(0, 0, 0, 0.6);
}

#about-text{
  color:#CDCDCD;
  font-family:'Montserrat';
  font-weight:300;
}

#about-text{
  padding:1em;
}

#quote-container{
  margin:0em 3em;
  flex:1;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:stretch;
  overflow:hidden;
}

#quote-container p{
  white-space:nowrap;
  overflow:hidden;
  font-family:'Montserrat';
  font-size:3.5em;
  letter-spacing:-1px;
  color:#CDCDCD;
  text-align:center;
}

.quotes{
  font-size:1.25em;
}

#quote-accent{
  color:#C6480F;
  text-shadow:3px 3px rgba(0, 0, 0, 0.4);
  font-weight:bold;
  margin-right:0.35em;
}

.pseudo-cursor{
  height:8px;
  width:32px;
  background:rgba(255, 255, 255, 0.7);
  position:relative;
  top:56px;
}

.cursor-toggle{
  background:rgba(255, 255, 255, 0);
}

#about-section{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:stretch;
}

#about-piece{
  background:rgba(0, 0, 0, 0.4);
}

.piece{
  margin:0em;
  background:rgba(0, 0, 0, 0.65);
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  /*align-items:stretch;*/
}

.piece-header{
  -webkit-backface-visibility:hidden;  /*Required due to rendering bug in Chrome*/
  background:rgba(106,96,174,0.85);
  box-shadow:inset 0px -0.5em 0px 0px rgba(0, 0, 0, 0.2);
  padding-bottom:0.5em;
  /*margin-top:0.5em;*/
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.piece-header p{
  margin:0.5em;
  font-family:'Rubik';
  font-size:2em;
  /*border-left:0.25em solid rgba(255, 255, 255, 0.2);*/
  /*border-right:0.25em solid rgba(255, 255, 255, 0.2);*/
  color:#CDCDCD;
  text-align:center;
}

.piece-content{
  padding:1.25em;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.piece-content p{
  font-family:'Montserrat';
  font-weight:300;
  font-style:italic;
  font-size:1em;
  color:#CDCDCD;
}

.h-sep-2-outer{
  width:100%;
  height:0.5em;
  /*padding:2em 0em;*/
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  background:rgba(31, 31, 31, 1);
}

.h-sep-2-inner{
  width:90%;
}

.content-section-header{
  padding:0em;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:stretch;
  position:relative;
  /*display:none;*/
}

.content-section-header p {
  padding:0.25em;
  padding-left:0.4em;
  font-family:'Rubik';
  font-weight:lighter;
  font-size:3em;
  color:#EFEFEF;
  z-index:4;
  position:relative;
  background:rgba(31, 31, 31, 1);
  /*outline:0.25em solid rgba(0, 0, 0, 1);*/
}

.about-text-accent{
  color:rgba(106,96,174,1);
  font-weight:bold;
}

#piece-content-who{
  padding:0em;
  padding:0em 2em;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

#about-me-header p{
  /*box-shadow:inset 0px -6px 0px 0px #5E5E8B,inset 0px 6px 0px 0px rgba(198, 72, 15, 1);*/
  /*border:6px solid rgba(106,96,174,0.6);
  outline:6px solid #000;*/
  /*border-left:0.25em solid rgba(106, 96, 174, 1);*/
  /*border-right:0.25em solid rgba(106, 96, 174, 1);*/
}

#experience-content-header p{
  /*border-left:0.25em solid #9A5D27;*/
  /*border-right:0.25em solid #9A5D27;*/
  /*border-bottom:5px solid #9A5D27;*/
}

#projects-content-header p{
  /*border-left:0.25em solid #76374C;*/
  /*border-right:0.25em solid #76374C;*/
  /*border-bottom:5px solid #76374C;*/
}

#contact-content-header p{
  /*border-left:0.25em solid #176D7C;*/
  /*border-right:0.25em solid #176D7C;*/
  /*border-bottom:5px solid #176D7C;*/
}

#experience-section{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:stretch;
}

#skills-container{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}

#skills-content{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:stretch;
  flex:1;
}

#skills-piece{
  justify-content:flex-start;
  align-items:stretch;
  flex:2;
}

.skill-container{
  display:flex;
  flex-direction:row;
  justify-content:stretch;
  align-items:center;
}

.skill-name{
  padding:0.5em 0em;
  padding-right:0.5em;
  width:8em;
  /*margin-right:0.5em;*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.skill-name p{
  width:100%;
  text-align:right;
  position:relative;
  /*top:-2px;*/
  /*padding-right:0.4em;*/
  padding-right:0.5em;
  border-right:2px solid rgba(154, 93, 39, 1);
}

.skill-meter-outer{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  flex:1;
  border:2px solid rgba(0, 0, 0, 0.75);
  /*border-right:none;*/
}

.skill-meter-inner{
  height:2px;
  background:#9A5D27;
  flex:1;
}

.skill-time{
  width:8em;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  margin-left:0.25em;
}

.skill-time p{
  text-align:left;
  padding:2px 0.5em;
  background:rgba(0, 0, 0, 0.4);
  font-size:0.95em;
  /*border:2px solid rgba(0, 0, 0, 0.75);*/
  border-left:none;
  padding-left:0.5em;
  box-shadow:inset 2px 0em 0px 0px rgba(154, 93, 39, 1);
}

#libraries-piece{
  flex:1;
}

#libraries-content{
  display:block;
}

.skill-tag{
  padding:0.4em;
  margin:0.25em;
  border:0.25em solid #9A5D27;
  float:left;
}

.skill-tag p{
  color:#ADADAD;
  font-size:1.1em;
}

#design-container{
  display:flex;
  flex-direction:row;
}

#design-content{
  padding:0em;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:stretch;
}

.design-item{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:stretch;
  flex:1;
}

.design-item-title{
  padding:1em;
  background:#9A5D27;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}

.design-item-title p{
  padding:0.15em;
  padding-left:0.4em;
  padding-bottom:0.4em;
  font-family:'Raleway', tahoma;
  font-weight:bold;
  font-size:1.25em;
  position:relative;
}

.design-item-text{
  padding:0.5em;
  /*border:2px solid #9A5D27;
  border-top:none;
  border-bottom:4px solid #9A5D27;*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex:1;
}

.design-item-text p{
  font-size:0.85em;
}

#experience-header{
  background:rgba(154, 93, 39, 0.85);
}

#projects-header{
  background:rgba(118, 55, 76, 0.85);
}

#projects-header p{
  /*background:rgba(0, 0, 0, 0.25);*/
  /*border-radius:0px 50px 50px 0px;*/
  /*padding-bottom:0.1em;*/
  /*border-bottom:0.25em solid rgba(0, 0, 0, 0.2);*/
}

#contact-header{

}

#projects-section{
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
}

#project-piece-content{
  padding:0em;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
  flex:1;
  flex-wrap:wrap;
}

#project-piece{
  width:100%;
  /*background:rgba(0, 0, 0, 0.2);*/
}

.project-content-block{
  /*margin:2em;*/
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.project-block-header{
  /*background:#76374C;*/
  background:rgba(255, 255, 255, 0.15);
  padding:0.75em 0.0em;
  /*margin:0.5em 0em;*/
  padding-left:1em;
  /*border-bottom:4px solid rgba(0, 0, 0, 0.2);*/
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  align-self:stretch;
  flex:1;
}

.project-block-content{
  height:auto;
  margin:1em;
  /*border:4px solid #76374C;*/
  /*padding:0.5em 0em;*/
  border-left:none;
  /*border-right:none;*/
  /*border-top:none;
  border-bottom:none;*/
  /*background:#5E2C3D;*/
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:stretch;
  align-self:stretch;
  overflow:hidden;
  transition:transform .15s ease-in-out, opacity .15s ease-in-out, max-height 0.15s ease-in-out;
}

.block-collapse { }

.project-block-header p{
  font-size:1.5em;
}

.project-block-footer{
  /*background:#76374C;*/
  /*height:0px;*/
  /*border-bottom:4px solid rgba(0, 0, 0, 0.2);
  padding:0.50em;*/
  /*margin-top:0.5em;*/
  /*align-self:stretch;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  flex:1;*/
}

.project-block-button{
  padding:0.2em 0.5em;
  background:rgba(0, 0, 0, 0.14);
  border:2px solid rgba(0, 0, 0, 0.04);
  transition:background .1s ease-in-out;
}

.project-block-button:hover{
  background:rgba(0, 0, 0, 0.24);
}

#project-block-screenshots{
  height:20em;
  background:rgba(255, 255, 255, 0.09);
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}

#project-block-screenshots img{
  width:47%;
  margin:0.5em;
  border-radius:4px;
}

#project-block-gameplay{
  height:20em;
  background:rgba(255, 255, 255, 0.09);
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}

#project-block-details{
  height:20em;
  background:rgba(255, 255, 255, 0.09);

}

.project-block-content .block-row:last-of-type{
  margin-bottom:0em;
}

.block-row{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:stretch;
  margin-bottom:0.5em;
}

.block-header{
  text-align:right;
  width:10em;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.09) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.09) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.09) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#17ffffff',GradientType=1 );
  border-right:2px solid rgba(0, 0, 0, 0.1);
  padding:0.5em 0em;
  padding-right:0.5em;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.block-text{
  background:rgba(255,255,255,0.09);
  padding:0.25em;
  padding-left:0.5em;
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

#contact-content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:stretch;
  flex:1;
}

#contact-form{
  padding:0.5em;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  flex:1;
}

.form-label{
  width:10em;
  padding:0.75em 0em;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-end;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.09) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.09) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.09) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#17ffffff',GradientType=1 );
  border-right:2px solid rgba(0, 0, 0, 0.1);

}

.form-label p{
  padding:0.0em 0.75em;
  color:#CDCDCD;
  font-size:1.0em;
  position:relative;
}

.form-input {
  width:50%;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
}

.text-input{
  min-width:99%;
  padding:0.5em 0em;
  padding-left:1%;
  outline:none;
  border:none;
  font-size:1.25em;
  font-family:'Montserrat', tahoma;
  color:#CDCDCD;
  border:2px solid rgba(255, 255, 255, 0.0);
  background:rgba(255, 255, 255, 0.09);
  transition:background .1s ease-in-out, border .1s ease-in-out;
}

.text-input:focus{
  background:rgba(255, 255, 255, 0.17);
}

#message-input-container {
  /*width:50%;
  flex:0.5;*/
}

#message-text{
  min-width:99%;
  padding-top:1%;
  padding-left:1%;
  min-height:8em;
  max-width:18em;
  resize:vertical;
  border:2px solid #rgba(255, 255, 255, 0.2);
  border-radius:2px;
  outline:none;
  border:none;
  font-size:1em;
  font-family:'Montserrat', tahoma;
  color:#CDCDCD;
  background:rgba(255, 255, 255, 0.09);
  border:2px solid rgba(255, 255, 255, 0.0);
  transition:background .1s ease-in-out, border .1s ease-in-out;
}

#message-text:focus{
  background:rgba(255, 255, 255, 0.17);
}

#submit-input-container{
  width:50%;
  flex-direction:row;
  justify-content:flex-end;
}

.form-section{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:stretch;
  margin-bottom:1.5em;
}

#contact-piece-header{
  background:rgba(23, 109, 124, 0.85);
}

#submit-button{
  background:none;
  border:none;
  outline:none;
  background:rgba(255, 255, 255, 0.06);
  padding:0.45em 1.2em;
  font-size:1.2em;
  font-family:'Montserrat', tahoma;
  border:2px solid rgba(255, 255, 255, 0.08);
  border-radius:2px;
  color:#CDCDCD;
  transition:background .1s ease-in-out, border .1s ease-in-out;
}

#submit-button:hover{
  background:rgba(255, 255, 255, 0.13);
  border:2px solid rgba(255, 255, 255, 0.11);
}

#submit-button:focus{
  background:rgba(255, 255, 255, 0.13);
  border:2px solid rgba(255, 255, 255, 0.11);
}

#footer-section{
  padding:1.25em 0em;
  background:none;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

#copyright-notice{
  /*margin-left:auto;*/
  padding:1em 0em;
  background:#212121;
  /*border:1em solid #151515;*/
  border-top:none;
  border-bottom:none;
}

#copyright-notice p{
  font-family:'Rubik', tahoma;
  font-size:0.95em;
  color:#CDCDCD;
}

#footer-nav-social{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
}

.footer-nav-header{
  align-self:stretch;
  padding:0.5em 0em;
  margin-bottom:1em;
}

.footer-nav-header p{
  font-family:'Rubik', tahoma;
  font-size:1.75em;
  color:#EFEFEF;
  padding-bottom:0.1em;
  border-bottom:0.12em solid #CDCDCD;
}

.footer-nav-item{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-self:flex-start;
  color:#A9A9A9;
  font-family:'Raleway', tahoma;
  font-size:0.8em;
  border-left:0.25em solid rgba(255, 255, 255, 0.2);
  padding:0.35em 0.5em;
  margin-bottom:0.25em;
  transition:border .1s ease-in-out, color .1s ease-in-out;
}

.footer-nav-item:hover{
  border-left:0.75em solid rgba(255, 255, 255, 0.35);
  color:#EFEFEF;
}

#footer-vertical-sep{
  width:2px;
  background:rgba(255, 255, 255, 0.17);
  align-self:stretch;
  margin:0.75em 2em;
}
